.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
          "header header header"
          "menu content ads"
          "footer footer footer"
;
  grid-template-rows: 170px 1fr 20px;
  grid-auto-columns: 2fr 10fr 15%;
}
.header{
  grid-area: header;
  background-color: #222224;

}
.header img{
  width: 270px;
  animation: both;
}
.menu{
  grid-area: menu;
  text-align: center;
  background-color: silver;
  font-size: large;
  border-block-color: black;
  font-family: 'Montserrat', sans-serif;
  text-shadow: #282c34;
  border-bottom-left-radius: 15px;
  text-decoration: none;
}
.menu div{

  padding: 30px;

}
.menu a{
  text-decoration: none;
  color: black;
}
.profile{
  grid-area: content;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
}
.content img{
  width: 560px;
}
.ads{
  text-align: right;
}
.ads img {
  width: 210px;
}
.footer{
  grid-area: footer;
  margin: 0 auto;
  text-align: right;
}
